@font-face {
    font-family: "Joystix Monospace";
    src: url("Fonts/joystix\ monospace.ttf");
}

*{
    margin:0;
    border:none;
    font-family: 'Joystix Monospace';
    text-decoration: none;
}

:root{
    --main-color: rgb(20, 199, 199);
    --dark-color:rgb(15, 15, 15);
    --light-color:rgb(226, 226, 226);
    --h1-color:rgb(255, 179, 37);
    --h2-color:rgb(65, 211, 255);
    --link-color:rgb(10, 226, 226);
    --visited-link-color:rgb(231, 58, 58);
}

.flex-column{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-color:var(--main-color);
    color:var(--light-color);
    height: 100vh;
}

main{
    background-color: var(--dark-color);
    border-radius: 25px;
    width: 600px;
    height: 400px;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.3) 8px 8px 8px 8px;
    padding: 20px;
    box-sizing: border-box;
}

h1{
    color: var(--h1-color);
    font-size: 1.2rem;
    margin: 0 0 15px 0;
    text-align: center;
}

p{
    text-align: center;
    font-size: .8rem;   
}

a {
    color: var(--link-color);
}

a:visited{
    color: var(--visited-link-color);
}
